*.log
*.aux
*.gz
*.toc
*.lof
*.out
*.dvi
*.fls
*.fdb_latexmk
*.sta
*.pdf
*.synctex(busy)

_minted*
*.pyg

.envrc
shell.nix

*.drawio

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
